@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://weloveiconfonts.com/api/?family=entypo);
* {
  box-sizing: border-box;
}

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body {
  font: 12px/16px 'Open Sans', sans-serif;
}

button {
  background-color: #1c5ac4;
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 5px 10px;
}

.install {
  text-transform: uppercase;
  width: 100px;
}
.install span {
  margin-right: 5px;
}

.product-grid {
  display: -webkit-flex;
  -webkit-justify-content: center;
  margin-top: 20px;
  min-width: 960px;
}
.product-grid > .product {
  margin-left: -1px;
}
.product-grid > .product:nth-child(1) {
  margin-left: 0;
}

.product {
  width: 240px;
  height: 200px;
  overflow: hidden;
  border: solid #ccc 1px;
}
.product:hover {
  cursor: pointer;
}
.product:hover .cover {
  margin-top: -200px;
  transition: all 0.2s;
  transition-delay: 0.4s;
}
.product .slide {
  padding: 20px;
  width: 240px;
  height: 200px;
  min-height: 200px;
}
.product .title {
  font-size: 13px;
}
.product .cover {
  margin-top: 0px;
  transition: all 0.2s;
}
.product .cover .banner {
  width: 220px;
  height: 140px;
  margin-bottom: 5px;
  margin-left: -10px;
  margin-top: -10px;
}
.product .cover .title {
  width: 75%;
  float: left;
}
.product .cover .meta {
  font-size: 11px;
  color: #888888;
  width: 75%;
}
.product .details {
  background-color: #efefef;
  display: -webkit-flex;
  -webkit-flex-flow: column;
}
.product .details .header {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.product .details .header .title, .product .details .header .ratings {
  width: 75%;
}
.product .details .header .ratings {
  font-size: 11px;
}
.product .details .header .ratings .stars {
  margin-right: 5px;
}
.product .details .header .ratings .count {
  color: #888888;
}
.product .details .header .icon {
  float: right;
}
.product .details .actions {
  margin-top: auto;
  text-align: center;
}
